@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}