/* color-scheme
#FFFFFF / #000000 */

$colorWhite: #FFFFFF;
$colorBlack: #000000;

/* font-family
font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif; */

@import 'fonts.scss';

@mixin colorWhiteBgBlack{
    background-color: $colorBlack;
    color: $colorWhite;
}

@mixin colorBlackBgWhite{
    background-color: $colorWhite;
    color: $colorBlack;
}

@mixin imgWidthHeight($maxWidth, $height){
    max-width: $maxWidth;
    height: $height;
}

/* ================= Global Styles ================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: auto;
}

h1,h2,h4,.factNum,#date{
    font-family: 'Lora', serif;
    font-variation-settings: 'wght' 600;
}

p,.btnRSVP{
    font-family: 'Work Sans', sans-serif;
    font-variation-settings: 'wght' 600;
    font-size: 1rem;
    line-height: 2rem;
}

h1,h2,#date{
    font-size: 5.5rem;
}

h4{
    font-size: 2rem;
}

.factNum{
    font-size: 4rem;
}

.btnRSVP{
    font-size: 1.3rem;
    background-color: $colorBlack;
    color: $colorWhite;
    padding: 15px 40px;
    border: 1px solid $colorWhite;
    &:hover{
        @include colorBlackBgWhite;
        transition-duration: 1s;
        cursor: pointer;
    }
}

/* ================= Header Styles ================= */
header{
    padding: 0 6vw;
    @include colorWhiteBgBlack;
    #headerHeadline{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            background-color: rgba(255, 255, 255, 0.2);
            height: 200px;
            width: 2px;
        }
        p:first-of-type{
            padding:10vh 0 2vh;
        }
        h1{
            text-align: center;
            line-height: 0.8em;
            width: 30vw;
            padding-bottom: 2vh;
            #headlineStyle{
                color: $colorBlack;
                -webkit-text-stroke: 1px $colorWhite;
            }
        }
    }
    #headerLogo{
        display:flex;
        justify-content: space-between;
    }
}
/* ================= Main Styles ================= */

/* ================= Main facts Styles ================= */
#facts{
    @include colorWhiteBgBlack;
    padding: 10vh 6vw;
    background-image: url(../img/map.svg);
    background-repeat: no-repeat;
    background-position: bottom 10% right 10%;
    background-size: 40%;
    h2{
        padding-right: 20vw;
        margin-bottom: 10vh;
    }
    article {
        margin-bottom: 5vh;
        p{
            margin-bottom: 2vh;
        }
    }
}
/* ================= Main action Styles ================= */
#action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    div{
        width: 300px;
        height: 200px;
        position: absolute;
        background-size: cover;
    }
    #imgOne{
        top:-5%;
        right: 15%;
        background-image: url(../img/action1.jpeg);
    }
    #imgTwo{
        background-image: url(../img/action2.jpeg);
        top: 20%;
        left: 0;
    }
    #imgThree{
        background-image: url(../img/action3.jpeg);
        top: 40%;
        right: -5%;
    }
    #imgFour{
        background-image: url(../img/action4.jpeg);
        top: 50%;
        left: 20%;
    }
    #imgFive{
        background-image: url(../img/action5.jpeg);
        top: 60%;
        right: 10%;
    }
    #imgSix{
        background-image: url(../img/action6.jpeg);
        left: -5%;
        bottom: 15%;
    }
    #imgSeven{
        background-image: url(../img/action7.jpeg);
        bottom: -10%;
        right: 25%;
    }

    #actionTextTop, #actionTextBottom{
        padding:0 30vw;
    }
    #actionTextTop{
        margin-top: 45vh;
    }
    #actionTextBottom{
        margin-top: 50vh;
        margin-bottom: 20vh;
}
}
/* ================= Main golden bear Styles ================= */
/* ================= Main poppy bear Styles ================= */
/* ================= Footer Styles ================= */