/* color-scheme
#FFFFFF / #000000 */
/* font-family
font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif; */
@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Work Sans";
  src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
/* ================= Global Styles ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
}

h1, h2, h4, .factNum, #date {
  font-family: "Lora", serif;
  font-variation-settings: "wght" 600;
}

p, .btnRSVP {
  font-family: "Work Sans", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 1rem;
  line-height: 2rem;
}

h1, h2, #date {
  font-size: 5.5rem;
}

h4 {
  font-size: 2rem;
  line-height: 1.5em;
  margin-bottom: 2rem;
}

.factNum {
  font-size: 4rem;
}

.btnRSVP {
  font-size: 1.3rem;
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 40px;
  border: 1px solid #FFFFFF;
}
.btnRSVP:hover {
  background-color: #FFFFFF;
  color: #000000;
  transition-duration: 1s;
  cursor: pointer;
}

.mediaLogo {
  width: 40px;
  height: 40px;
  margin: 5px;
}

/* ================= Header Styles ================= */
header {
  padding: 0 6vw;
  background-color: #000000;
  color: #FFFFFF;
}
header #headerHeadline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header #headerHeadline div {
  background-color: rgba(255, 255, 255, 0.2);
  height: 200px;
  width: 2px;
}
header #headerHeadline p:first-of-type {
  padding: 10vh 0 2vh;
}
header #headerHeadline h1 {
  text-align: center;
  line-height: 0.8em;
  width: 30vw;
  padding-bottom: 2vh;
}
header #headerHeadline h1 #headlineStyle {
  color: #000000;
  -webkit-text-stroke: 1px #FFFFFF;
}
header #headerLogo {
  display: flex;
  justify-content: space-between;
}

/* ================= Main Styles ================= */
/* ================= Main facts Styles ================= */
#facts {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10vh 6vw;
  background-image: url(../img/map.svg);
  background-repeat: no-repeat;
  background-position: bottom 10% right 10%;
  background-size: 40%;
}
#facts h2 {
  padding-right: 20vw;
  margin-bottom: 10vh;
}
#facts article {
  margin-bottom: 5vh;
}
#facts article p {
  margin-bottom: 2vh;
}

/* ================= Main action Styles ================= */
#action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#action div {
  width: 300px;
  height: 200px;
  position: absolute;
  background-size: cover;
}
#action #imgOne {
  top: -5%;
  right: 15%;
  background-image: url(../img/action1.jpeg);
}
#action #imgTwo {
  background-image: url(../img/action2.jpeg);
  top: 20%;
  left: 0;
}
#action #imgThree {
  background-image: url(../img/action3.jpeg);
  top: 40%;
  right: -5%;
}
#action #imgFour {
  background-image: url(../img/action4.jpeg);
  top: 50%;
  left: 20%;
}
#action #imgFive {
  background-image: url(../img/action5.jpeg);
  top: 60%;
  right: 10%;
}
#action #imgSix {
  background-image: url(../img/action6.jpeg);
  left: -5%;
  bottom: 15%;
}
#action #imgSeven {
  background-image: url(../img/action7.jpeg);
  bottom: -5%;
  right: 25%;
  z-index: 1;
}
#action #actionTextTop, #action #actionTextBottom {
  padding: 0 30vw;
}
#action #actionTextTop {
  margin-top: 45vh;
}
#action #actionTextBottom {
  margin-top: 50vh;
  margin-bottom: 20vh;
}

/* ================= Main golden bear Styles ================= */
#goldenBear {
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20vh 10vw 70vh;
  position: relative;
}
#goldenBear #goldenBearText {
  margin-left: 20vw;
}
#goldenBear #gBearImg {
  position: absolute;
  height: 650px;
  width: 650px;
  background-image: url(../img/goldenbear.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: -5%;
}
#goldenBear #gBearImgTwo {
  position: absolute;
  background-image: url(../img/gb2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 463px;
  width: 358px;
  bottom: -2%;
  right: 22%;
}

/* ================= Main poppy bear Styles ================= */
#poppyBear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40vh 10vw 75vh;
  margin-bottom: 5vh;
  position: relative;
}
#poppyBear .rotate {
  position: absolute;
  right: -15%;
  top: -20%;
  max-width: 40%;
  height: auto;
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#poppyBear #poppyBearText {
  margin-left: 20vw;
}
#poppyBear #poppyBearImgOne {
  position: absolute;
  background-image: url(../img/rosebear.png);
  background-size: cover;
  height: 70vh;
  width: 40vw;
  bottom: 0;
  right: 20%;
}
#poppyBear #poppyBearImgTwo {
  position: absolute;
  background-image: url(../img/pb3.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  width: 30vw;
  bottom: 7%;
  left: 20%;
}

/* ================= Footer Styles ================= */
footer {
  background-color: #000000;
  color: #FFFFFF;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-template-areas: "footertext banner" "links links";
}
footer #footerText {
  grid-area: footertext;
  margin: 20vh 8vw 10vh;
}
footer #banner {
  grid-area: banner;
  position: relative;
}
footer #banner #date {
  background-color: #FFFFFF;
  color: #000000;
  position: absolute;
  padding: 20px;
  top: 25%;
  right: -56%;
  rotate: 40deg;
  animation: marquee 5s infinite linear;
}
footer #banner #date .dateYear {
  color: #FFFFFF;
  -webkit-text-stroke: 1.5px #000000;
}
@keyframes marquee {
  from {
    transform: translateX(-22%);
  }
  to {
    transform: translateX(0%);
  }
}
footer #socialMedia {
  grid-area: links;
  display: flex;
  justify-content: space-between;
  margin: 0 8vw;
}
footer #sfDesign {
  background-color: #FFFFFF;
  color: #000000;
  line-height: 0.7em;
  display: inline;
}

/*# sourceMappingURL=style.css.map */
